<ion-content color="primary" padding>

  <form #form="ngForm" (ngSubmit)="login(form)">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
    
          <div text-center padding>

            <ion-icon color="secondary" size="large" md="md-contact"></ion-icon>
            <ion-text color="secondary">
              <h3>MEMBER LOG-IN</h3>
            </ion-text>

            <ion-item>
              <ion-icon md="md-mail"></ion-icon>
              <ion-input name="email" type="email" placeholder="Email ID" ngModel required>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-icon md="md-lock"></ion-icon>
              <ion-input name="password" type="password" placeholder="Password" ngModel required>
              </ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
          </ion-col>
      </ion-row>
  </form>
</ion-content>